<section class="section et-about-us-bottom-banner-section">
    <div class="page-width">
        <div class="et-about-us-bottom-banner">
            {%- unless section.settings.left_img == blank -%}
                <div class="left-img">
                    {{ section.settings.left_img | image_url: width: full | image_tag }}
                </div>
            {% endunless %}
            <div class="banner-content">
                <h2>{{section.settings.section_title}}</h2>
                <p>{{section.settings.section_des}}</p>
            </div>
            {%- unless section.settings.right_img == blank -%}
            <div class="right-img">
                {{ section.settings.right_img | image_url: width: full | image_tag }}
            </div>
            {% endunless %}
        </div>
    </div>
</section>



{%- style -%}
    .et-about-us-bottom-banner-section {
        background-color: {{section.settings.section_bg}};
    }
    .et-about-us-bottom-banner .banner-content h2,
    .et-about-us-bottom-banner .banner-content p {
        color: {{section.settings.content_clr}};
    }
    {% if section.settings.section_top_margin %}
      #shopify-section-{{ section.id }} {
        margin-top: 30px;
      }
    {% endif %}
    {% if section.settings.section_bottom_margin %}
      #shopify-section-{{ section.id }} {
        margin-bottom: 30px;
      }
    {% endif %}
{%- endstyle -%}

  
  {% schema %}
    {
      "name": "ET About Us Bottom Banner",
      "settings": [
        {
          "type": "checkbox",
          "id": "section_top_margin",
          "label": "Add section top margin",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "section_bottom_margin",
          "label": "Add section bottom margin",
          "default": false
        },
        {
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Amplify, Share, and Celebrate What You Love"
        },
        {
          "type": "text",
          "id": "section_des",
          "label": "Description",
          "default": "Our Promise to you"
        },
        {
            "type": "image_picker",
            "id": "left_img",
            "label": "Left Image"
        },
        {
            "type": "image_picker",
            "id": "right_img",
            "label": "Right Image"
        },
        {
            "type": "color",
            "id": "section_bg",
            "label": "Section Background color",
            "default": "#FFB81D"
        },
        {
            "type": "color",
            "id": "content_clr",
            "label": "Section Content Color",
            "default": "#fff"
        }
      ],
      "presets": [
        {
          "name": "ET About Us Bottom Banner",
          "category": "fathead"
        }
      ]
    }
  {% endschema %}