<style>
  .image-spacer{
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
  }
  @media (min-width: 768px){
   {% unless section.settings.image_edge %}
    .is_{{ section.id }}{
      {% if section.settings.spacer_img !=blank %}
      background-image:url({{ section.settings.spacer_img |img_url: 'master' }});
      {% endif %}
      {% if section.settings.spacer_img == blank %}
        background-color:{{section.settings.is_background}};
      {% endif %}
      height:{{section.settings.is_height}}px;
    }
    {% endunless %}
      .is_{{ section.id }} .mob_image{
          display:none;
      }
      .is_{{ section.id }} .desk_image{
          display:block;
      }
  }
  @media (max-width: 768px) {
    {% unless section.settings.image_edge %}
      .is_{{ section.id }} {
        {% if section.settings.spacer_img_mobile != blank %}
        background-image: url({{ section.settings.spacer_img_mobile | img_url: 'master' }});
        {% endif %}
        {% if section.settings.spacer_img_mobile == blank %}
        background-color:{{section.settings.is_background_mob}};
        {% endif %}
        height:{{section.settings.is_height_mob}}px;
      }
    {% endunless %}
      .is_{{ section.id }} .mob_image{
          display:block;
      }
      .is_{{ section.id }} .desk_image{
          display:none;
      }
  }
      
  {% if section.settings.section_top_margin %}
    #shopify-section-{{ section.id }} {
      margin-top: 30px;
    }
  {% endif %}
  {% if section.settings.section_bottom_margin %}
    #shopify-section-{{ section.id }} {
      margin-bottom: 30px;
    }
  {% endif %}
</style>
<div class="image-spacer is_{{ section.id }}">
  {% if section.settings.image_edge %}
    {% if section.settings.spacer_img != blank %}
      <img class="desk_image" src="{{ section.settings.spacer_img |img_url: 'master' }}" height="" width="" alt="{{ section.settings.spacer_img.alt }}">
    {% endif %}
    {% if section.settings.spacer_img_mobile != blank %}
      <img class="mob_image" src="{{ section.settings.spacer_img_mobile |img_url: 'master' }}" height="" width="" alt="{{ section.settings.spacer_img.alt }}">
    {% endif %}
  {% endif %}
</div>
{% schema %}
{
  "name": "FH - Image Spacer",
  "settings": [
    {
      "type": "checkbox",
      "id": "section_top_margin",
      "label": "Add section top margin",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "section_bottom_margin",
      "label": "Add section bottom margin",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "image_edge",
      "label": "Set Image Edge to Edge",
      "info": "Once enabled, the section height and background color settings will no longer be applicable.",
      "default": false
    }, 
    {
      "type": "image_picker",
      "id": "spacer_img",
      "label": "Desktop Background Image"
    },
    {
      "type": "color",
      "id": "is_background",
      "label": "Desktop Background Color"
    },
    {
      "type": "image_picker",
      "id": "spacer_img_mobile",
      "label": "Mobile Background Image"
    },
    {
      "type": "color",
      "id": "is_background_mob",
      "label": "Mobile Background Color"
    },
    {
      "type": "range",
      "id": "is_height",
      "label": "Desktop Max Height",
      "max": 800,
      "min": 10,
      "step": 10,
      "unit": "px",
      "default": 10
    },
    {
      "type": "range",
      "id": "is_height_mob",
      "label": "Mobile Max Height",
      "max": 800,
      "min": 10,
      "step": 10,
      "unit": "px",
      "default": 10
    }
  ],
  "presets": [
    {"name": "FH - Image Spacer"}
  ]
}
{% endschema %}
