{%- style -%}
    .section-{{ section.id }}{
      padding-bottom: 3rem;
    }
    .section-{{ section.id }} .title{
      color: rgb(var(--color-base-accent-1));
      text-transform: uppercase;
    }
{%- endstyle -%}
<div class="page-width section-{{ section.id }} shipping-rich-text">
    {%- unless section.settings.heading == blank -%}
        <div class="title-wrapper--no-top-margin">
            <h2 class="title h1">
                {{ section.settings.heading | escape }}
            </h2>
        </div>
    {%- endunless -%}
    {%- unless section.settings.text == blank -%}
        <div class="rte">{{ section.settings.text }}</div>
    {%- endunless -%}
</div>
{% schema %}
{
	"name": "Rich text",
	"class": "section",
	"settings": [
		{
			"type": "text",
			"id": "heading",
			"label": "Heading"
		},
		{
			"type": "richtext",
			"id": "text",
			"label": "Text"
		}
	]
}
{% endschema %}